<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{url_for('static', filename='js/code.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <title>Test</title>
    </head>
    <body>
        <div id="mainPage">
            <h1>Homepage</h1>
            {% for prodotto in prodotti %}
            <img src="{{ prodotto['Immagine']}}" alt="" width="200" onclick="getProdotto('{{prodotto.Nome}}')">
            {% endfor %}            
        </div>
        <div id="infoPage" class="container">
            <h1 class="Nome">Nome</h1>
            <p class="Categoria">Categoria</p>
            <p class="Prezzo">Prezzo</p>
            <p class="Quantità">Quantità</p>
            <img src="" id="Immagine" width="200"><br />
            <button onclick="Back()" id="back">Back</button>            
        </div>
    </body>
</html>